<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Port" value="25501"/>
    <add key="ChunkSize" value="16"/>
    <add key="TurnTime" value="0.25"/>
    <add key="SentryDsn" value="https://7f4f8d6c93754d32b438d99fe14b9faa@o472714.ingest.sentry.io/5506692"/>
  </appSettings>
</configuration>